* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fb;
}

/* Navbar */

.navbar {
  background: #0f172a;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;

  min-height: 90px;

  color: white;

  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.navbar h2 {
  color: white;

  font-size: 2rem;

  font-weight: 700;

  margin: 0;
}

.navbar a {
  color: white;

  text-decoration: none;

  margin-left: 25px;

  font-size: 1.1rem;

  font-weight: 600;
}

.navbar a:hover {
  color: #60a5fa;
}

/* Hero Section */

.hero {
  background: linear-gradient(
    135deg,
    #2563eb,
    #1e40af,
    #0f172a
  );

  color: white;

  text-align: center;

  padding: 5px 5px;

  border-radius: 0 0 25px 25px;

  box-shadow:
    0 5px 15px rgba(0,0,0,0.2);
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;

  margin-bottom: 10px;
}

.hero p {
  font-size: 1.1rem;

  opacity: 0.9;

  margin-bottom: 20px;
}

.hero-btn {
  background: white;

  color: #2563eb;

  border: none;

  padding: 12px 25px;

  border-radius: 30px;

  font-size: 16px;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.hero-btn:hover {
  transform: translateY(-3px);

  background: #f1f5f9;
}

/* Catalog */

.catalog-title {
  text-align: center;

  margin-top: 30px;

  margin-bottom: 20px;

  font-size: 3rem;
}

/* Filters */

.filters {
  display: flex;
  gap: 10px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.filters input {
  padding: 12px;
  width: 280px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.filters button {
  padding: 12px 18px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  background: #2563eb;
  color: white;
}

.filters button:hover {
  background: #1d4ed8;
}



/* Product Grid */

.product-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

  gap: 25px;

  padding: 30px;
}

/* Product Card */

.product-card {
  background: white;

  border-radius: 18px;

  overflow: hidden;

  box-shadow:
    0 8px 20px rgba(0,0,0,0.08);

  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);

  box-shadow:
    0 15px 30px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;
  height: 250px;

  object-fit: contain;

  background: #f3f4f6;
}

.product-card h3 {
  font-size: 18px;

  padding: 10px;

  height: 70px;

  overflow: hidden;
}

.product-card p {
  color: green;

  font-weight: bold;

  padding: 0 10px;
}

.product-card button {
  margin: 8px;

  border: none;

  padding: 10px 15px;

  border-radius: 8px;

  cursor: pointer;

  background: #2563eb;

  color: white;
}

.product-card button:hover {
  background: #1d4ed8;
}

.product-card svg {
  color: red;
}

.product-detail {
  max-width: 900px;

  margin: 30px auto;

  padding: 20px;

  background: white;

  border-radius: 15px;

  box-shadow:
    0 5px 15px rgba(0,0,0,0.1);
}

.detail-image {
  width: 300px;
  height: 300px;

  display: block;

  margin: 0 auto 20px;

  object-fit: contain;
}

.reviews {
  margin-top: 25px;
}

.review-card {
  background: #f8fafc;

  padding: 15px;

  margin-bottom: 15px;

  border-radius: 10px;

  box-shadow:
    0 2px 8px rgba(0,0,0,0.08);
}

/* Recently Viewed */

.recently-viewed {
  padding: 20px;
}

.recently-viewed h2,
h2 {
  margin: 20px;

  color: #111827;

  font-size: 2rem;
}

/* Checkout */

.checkout-container {
  max-width: 900px;

  margin: 40px auto;

  background: white;

  padding: 30px;

  border-radius: 15px;

  box-shadow:
    0 5px 15px rgba(0, 0, 0, 0.1);
}

.checkout-container h1 {
  margin-bottom: 20px;
}

.checkout-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-container input,
.checkout-container textarea,
.checkout-container select {
  padding: 12px;

  border: 1px solid #ddd;

  border-radius: 8px;
}

.checkout-container button {
  border: none;

  padding: 12px;

  border-radius: 8px;

  background: #2563eb;

  color: white;

  cursor: pointer;
}

.checkout-container button:hover {
  background: #1d4ed8;
}

/* Footer */

.footer {
  background: #0f172a;

  color: white;

  margin-top: 80px;

  padding: 50px 30px 20px;
}

.footer-container {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(220px, 1fr));

  gap: 30px;
}

.footer-section h2,
.footer-section h3 {
  margin-bottom: 15px;
}

.footer-section p,
.footer-section li {
  color: #cbd5e1;

  margin-bottom: 10px;

  list-style: none;
}

.footer-section ul {
  padding: 0;
}

.social-icons {
  display: flex;

  gap: 15px;

  font-size: 22px;

  cursor: pointer;
}

.social-icons svg:hover {
  color: #2563eb;

  transform: scale(1.1);

  transition: 0.3s;
}

.footer-bottom {
  text-align: center;

  border-top:
    1px solid rgba(255,255,255,0.1);

  margin-top: 30px;

  padding-top: 20px;

  color: #94a3b8;
}

.footer-section a {
  color: #cbd5e1;

  text-decoration: none;

  transition: 0.3s;
}

.footer-section a:hover {
  color: #2563eb;
}

/* Loader */

.loader {
  text-align: center;

  font-size: 24px;

  font-weight: bold;

  padding: 50px;
}

/* cart */
.cart-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
}

.cart-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.cart-item {
  display: flex;
  gap: 20px;

  background: white;

  padding: 20px;

  border-radius: 15px;

  margin-bottom: 20px;

  box-shadow:
    0 5px 15px rgba(0,0,0,0.08);
}

.cart-image {
  width: 150px;
  height: 150px;

  object-fit: contain;
}

.cart-details {
  flex: 1;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 15px;

  margin: 15px 0;
}

.quantity-controls button {
  width: 40px;
  height: 40px;
}

.remove-btn {
  background: #ef4444;
  color: white;
}

.cart-summary {
  text-align: right;
  margin-top: 30px;
}

.checkout-btn {
  background: #2563eb;
  color: white;

  border: none;

  padding: 15px 25px;

  border-radius: 10px;

  cursor: pointer;
}

.empty-cart {
  text-align: center;
  padding: 60px;
}

/* wishlist */
.wishlist-container {
  max-width: 1200px;

  margin: 30px auto;

  padding: 20px;
}

.wishlist-container h1 {
  text-align: center;

  margin-bottom: 30px;
}

.wishlist-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

  gap: 25px;
}

.wishlist-card {
  background: white;

  border-radius: 15px;

  overflow: hidden;

  padding: 15px;

  text-align: center;

  box-shadow:
    0 5px 15px rgba(0,0,0,0.08);

  transition: 0.3s;
}

.wishlist-card:hover {
  transform: translateY(-8px);
}

.wishlist-card img {
  width: 100%;
  height: 220px;

  object-fit: contain;
}

.wishlist-card h3 {
  margin: 15px 0;

  font-size: 18px;

  height: 50px;

  overflow: hidden;
}

.wishlist-card p {
  color: green;

  font-weight: bold;

  margin-bottom: 15px;
}

.remove-btn {
  background: #ef4444;

  color: white;

  border: none;

  padding: 10px 15px;

  border-radius: 8px;

  cursor: pointer;
}

.empty-wishlist {
  text-align: center;

  padding: 60px;
}


/* loader */
.loader {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  height: 60vh;
}

.spinner {
  width: 60px;

  height: 60px;

  border: 6px solid #ddd;

  border-top: 6px solid #2563eb;

  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loader p {
  margin-top: 15px;

  font-size: 18px;

  font-weight: 600;
}

.product-rating {
  color: #f59e0b;

  font-weight: 600;

  margin: 10px 0;
}

.filters select {
  padding: 10px 15px;

  background: #2563eb;
  min-width: 170px;
  color: white;

  border: none;

  border-radius: 10px;

  cursor: pointer;

  font-size: 14px;

  font-weight: 500;

  transition: 0.3s;
}

.filters select:hover {
  background: #1d4ed8;
}

.filters select:focus {
  outline: none;
}

.filters select option {
  background: white;
  color: black;
}

/*darkmode*/

.theme-btn {
  background: #2563eb;
  color: white;

  border: none;

  padding: 8px 12px;

  border-radius: 8px;

  cursor: pointer;

  margin-left: 15px;
}

.theme-btn:hover {
  background: #1d4ed8;
}

.dark-theme {
  background: #0f172a;
  color: white;
}

/* Navbar */

.dark-theme .navbar {
  background: #020617;
}

/* Product Cards */

.dark-theme .product-card {
  background: #1e293b;
  color: white;
}

.dark-theme .product-card h3 {
  color: white;
}

.dark-theme .product-card p {
  color: #22c55e;
}

/* Wishlist */

.dark-theme .wishlist-card {
  background: #1e293b;
  color: white;
}

.dark-theme .wishlist-card h3 {
  color: white;
}

.dark-theme .wishlist-card p {
  color: #22c55e;
}

/* Product Detail */

.dark-theme .product-detail {
  background: #1e293b;
  color: white;
}

/* Cart */

.dark-theme .cart-item {
  background: #1e293b;
  color: white;
}

/* Checkout */

.dark-theme .checkout-container {
  background: #1e293b;
  color: white;
}

/* Filters */

.dark-theme .filters input,
.dark-theme .filters select {
  background: #1e293b;
  color: white;
  border: 1px solid #475569;
}

/* Reviews */

.dark-theme .review-card {
  background: #334155;
  color: white;
}

/* Footer */

.dark-theme .footer {
  background: #020617;
}

/* Titles */

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4 {
  color: white;
}

/*backtotop*/

.back-to-top {
  position: fixed;

  bottom: 25px;

  right: 25px;

  width: 50px;

  height: 50px;

  border: none;

  border-radius: 50%;

  background: #2563eb;

  color: white;

  font-size: 20px;

  cursor: pointer;

  box-shadow:
    0 4px 10px rgba(0,0,0,0.2);

  z-index: 999;
}

.back-to-top:hover {
  background: #1d4ed8;
}

/*RESPONSIVE DESIGN */

@media (max-width: 1024px) {

  .hero h1 {
    font-size: 3rem;
  }

  .product-grid {
    grid-template-columns:
      repeat(2, 1fr);
  }

}

@media (max-width: 768px) {

 @media (max-width: 768px) {

  .navbar {
    display: flex;
    flex-direction: row; /* Important */
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }

  .logo {
    font-size: 1.4rem;
  }

  .mobile-actions {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-left: auto; /* Right side push */
  }

}

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero {
    padding: 60px 20px;
    text-align: center;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .filters {
    flex-direction: column;
    align-items: center;
  }

  .filters input,
  .filters select,
  .filters button {
    width: 90%;
    max-width: 350px;
  }

  .product-grid {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

}

@media (max-width: 480px) {

  .hero h1 {
    font-size: 1.8rem;
  }

  .catalog-title {
    font-size: 2rem;
  }

  .product-card {
    padding: 12px;
  }

  .product-card img {
    height: 220px;
    object-fit: contain;
  }

  .back-to-top {
    width: 45px;
    height: 45px;
    right: 15px;
    bottom: 15px;
  }

}

.navbar {
  background: #081229;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  position: relative;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}

.desktop-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.desktop-menu a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.mobile-actions {
  display: none;
}

.mobile-menu {
  display: none;
}

.theme-btn {
  background: #2563eb;
  color: white;

  border: none;

  padding: 8px 12px;

  border-radius: 8px;

  cursor: pointer;
}

/* Mobile */

@media (max-width: 768px) {

  .desktop-menu {
    display: none;
  }

  .mobile-actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: white;
  }

  .mobile-menu {
    position: absolute;

    top: 100%;
    left: 0;

    width: 100%;

    background: #081229;

    flex-direction: column;

    text-align: center;

    padding: 20px;

    gap: 15px;

    z-index: 999;
  }

  .mobile-menu.active {
    display: flex;
  }

  .mobile-menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .navbar {
    padding: 15px 20px;
  }

  .logo {
    font-size: 1.4rem;
  }
}